@import url(reset.css);
@import url(mobile.css);
@import url(tablet.css);
@import url(destop.css);
@import url(tv.css);

:root{
    --fundo-escuro: rgb(0,0,251,1);
    --fundo-claro: rgb(158, 157, 218);
    --fonte-clara: rgb(255, 255, 255);
    --fonte-escura: rgb(20, 8, 68);
    --hover-claro: rgb(99, 144, 186);
    --hover-escuro: rgb(6, 32, 56);
}

body {
background-color: rgb(152, 145, 249);
}
.ajuda {
    padding: 30px 180px;
    font-size: 30px;
  }
.ajuda2 {
    padding: 18px 530px;
    font-size: 30px;
}
.ajuda1 {
    padding: 30px 530px;
    font-size: 30px;
}
.introdução {
    padding: 0px 12px;
}
.primeiro {
    padding: 10px 10px ;
}

footer {
    background-color: rgb(72, 0, 240);
}
.conteudo {
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 5px 10px;
}
#logo {
    width: 130px;
    height: 130px;
}
.links {
    background-color: aliceblue;
    width: 400px;
    padding: 10px;
}
.inicio {
    background-color:rgb(152, 145, 249) ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.barra {
    background-color: rgb(152, 145, 249);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.lado {
    background-color: rgb(152, 145, 249);
    height: 10px;
}
.principal {
    background-color: rgb(152, 145, 249);
}
.home1 {
    background-color: rgb(152, 145, 249);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.home2 {
    background-color: rgb(152, 145, 249);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.home3 {
    background-color: rgb(152, 145, 249);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
*{
    margin: 0;
    padding: 0;
}

